.posa {
    position: absolute;
}

.posr {
    position: relative;
}

.w100p {
    width: 100%;
}

.pt15 {
   padding-top: 15px;
}

.pb15 {
   padding-bottom: 15px;
}

.border1-white {
    border: solid 1px white !important;
}

.flip-xy {
    -webkit-transform: scale(-1, -1);
       -moz-transform: scale(-1, -1);
         -o-transform: scale(-1, -1);
            transform: scale(-1, -1);
}

.translatey-6 {
    transform: translateY(6px);
}

.cp {
    cursor: pointer;
}

.no-outline {
    text-decoration: none;
    outline: 0;
    border: none;
    -moz-outline-style: none
}

.fix-to-top {
    position: fixed;
    top: 0;
    width: 1400px;
    background-color: black;
    opacity: 1;
    z-index: 5000;
}