.posa {
    position: absolute;
}

.posr {
    position: relative;
}

.pt15 {
   padding-top: 15px;
}

.pb15 {
   padding-bottom: 15px;
}

.flip-xy {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.translatey-6 {
    transform: translateY(6px);
}
