.flip-xy {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.translatey-6 {
    transform: translateY(6px);
}

.blink {
    animation: blink-animation 5s steps(5, start) infinite;
    -webkit-animation: blink-animation 5s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}




/*@-webkit-keyframes blink-animation {*/
    /*to {*/
        /*visibility: hidden;*/
    /*}*/
/*}*/

/*.blink {*/
    /*animation: blinker 3s linear infinite;*/
/*}*/

/*@keyframes blinker {*/
    /*100% { opacity: 0; }*/
/*}*/



/*.blink {*/
    /*-webkit-animation-name: blink;*/
    /*-moz-animation-name: blink;*/
    /*-o-animation-name: blink;*/
    /*animation-name: blink;*/
    /*-webktit-animation-timing-function: linear;*/
    /*-moz-animation-timing-function: linear;*/
    /*-o-animation-timing-function: linear;*/
    /*animation-timing-function: linear;*/
    /*-webkit-animation-duration: 5s;*/
    /*-moz-animation-duration: 5s;*/
    /*-o-animation-duration: 5s;*/
    /*animation-duration: 5s;*/
/*}*/

/*.blink-infinite {*/
    /*-webkit-animation-iteration-count: infinite;*/
    /*-moz-animation-iteration-count: infinite;*/
    /*-o-animation-iteration-count: infinite;*/
    /*animation-iteration-count: infinite;*/
/*}*/

/*@-webkit-keyframes blink {*/
    /*50% {*/
        /*opacity: 0;*/
    /*}*/
/*}*/
/*@-moz-keyframes blink {*/
    /*50% {*/
        /*opacity: 0;*/
    /*}*/
/*}*/
/*@-o-keyframes blink {*/
    /*50% {*/
        /*opacity: 0;*/
    /*}*/
/*}*/
/*@keyframes blink {*/
    /*50% {*/
        /*opacity: 0;*/
    /*}*/
/*}*/




/*@-webkit-keyframes blinker {*/
    /*from {opacity: 1.0;}*/
    /*to {opacity: 0.0;}*/
/*}*/
/*.blink {*/
    /*text-decoration: blink;*/
    /*-webkit-animation-name: blinker;*/
    /*-webkit-animation-duration: 2s;*/
    /*-webkit-animation-iteration-count:infinite;*/
    /*-webkit-animation-timing-function:linear;*/
    /*-webkit-animation-direction: alternate;*/
/*}*/