@font-face {
    font-family: AvenirNextDemi;
    src: url("../fonts/AvenirNextDemi.otf") format("opentype");
}

@font-face {
    font-family: AvenirNextRegular;
    src: url("../fonts/AvenirNextRegular.otf") format("opentype");
}

body {
    font-family: AvenirNextRegular;
}

a {
    color: #856238;;
    text-decoration: none;
}

.font-family-avenirnextr-demi {
    font-family: AvenirNextDemi;
}

.font-family-avenirnext-regular {
    font-family: AvenirNextRegular;
}

.font-size-25 {
    font-size: 25px;
}

.font-size-30 {
    font-size: 30px;
}

.font-size-40 {
    font-size: 40px;
}

.text-decoration-none {
    text-decoration: none;
}

.font-weight-bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

ul li {
    position: relative;
    left: -20px;
}