<!doctype html>
<html>
    <head>
        <title>Likewise</title>

        <meta charset="UTF-8">
        <meta name="description" content="Franchise & Business Law">
        <meta name="keywords" content="likewise-law, likewise, john-rogers, lawyer, franchise, franchise-law, business, business-law, legal-services">
        <meta name="author" content="John L. Rogers">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="css/atoms.css">
        <link rel="stylesheet" href="css/colours.css">
        <link rel="stylesheet" href="css/fonts.css">
        <link rel="stylesheet" href="css/animation.css">
        <link rel="stylesheet" href="css/buttons.css">
        <link rel="stylesheet" href="css/banners.css">
        <link rel="stylesheet" href="css/forms.css">
        <link rel="stylesheet" href="css/images.css">
        <link rel="stylesheet" href="css/resets.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body ng-app="likewiseApp" style="max-width: 1400px; margin: 0 auto;" ng-controller="likewiseCtrl" ng-cloak="">
        <div>
            <!-- ******************************************** -->
            <!--                CONTACT                       -->
            <!-- ******************************************** -->
            <div id="likewise" class="font-family-avenirnextr-demi white-fg black-bg" flex layout="row" layout-align="end start"  style="height: 200px;">
                <div class="font-size-15" style="padding: 40px 15px;">
                    Phone: 604.559.6201
                </div>
                <a href="https://www.linkedin.com/in/johnlrogers/">
                    <button class="circle-btn md-fab md-mini md-button md-ink-ripple gold3-bg posr"
                            type="button"
                            style="top: 20px; margin-right: 40px;">
                        <div class="md-ripple-container" style="text-transform: lowercase"><strong>in</strong></div>
                    </button>
                </a>
            </div>

            <!-- ******************************************** -->
            <!--                BANNER                        -->
            <!-- ******************************************** -->
            <div id="banner" class="banner font-family-avenirnextr-regular white-fg black-bg" flex layout="column">
                <div class="black-bg" flex="100" layout="column" layout-align="start center">
                    <div class="banner-logo"></div>
                    <div>
                        <h3 class="banner-slogan gold2-fg">Franchise & Business Law</h3>
                    </div>
                </div>
                <div flex="100" layout="row" layout-align="center end">
                    <div class="banner-owl-one"></div>
                    <div class="banner-owl-buffer-one" style="width:2%"></div>
                    <div class="banner-owl-two"></div>
                    <div class="banner-owl-buffer-two" style="width:2%"></div>
                    <div class="banner-owl-three posr">
                        <div class="banner-owl-three-blink blink posa">
                        </div>
                    </div>
                </div>
                <div flex="100 lightgreen posr" layout="row" layout-align="center end">
                    <a href="#introduction">
                        <button class="circle-btn md-fab md-button md-ink-ripple gold3-bg posr" type="button" style="top: 33px;">
                            <div class="md-ripple-container" style="">
                                <i class="white-fg material-icons" style="position: relative; top: 9px;">keyboard_arrow_down</i>
                            </div>
                        </button>
                    </a>
                    <div class="posa" style="padding: 0 25px 10px 0; right: 0;">
                        <div class="white-fg" style="font-size: 13px;">*Denotes Law Corporation</div>
                    </div>
                </div>
            </div>

            <!-- ******************************************** -->
            <!--                INTRODUCTION                  -->
            <!-- ******************************************** -->
            <div id="introduction" class="introduction white-fg gold2-bg" flex>
                <div flex layout="column">
                    <div class="introduction-title" flex="100" layout="row" layout-align="center end">
                        <h2>Go forth and multiply</h2>
                    </div>
                    <div class="introduction-content" flex="100" layout="row">
                        <div flex="70" flex-offset="15">
                            Likewise* is a boutique law practice managed by John L. Rogers, and focussed on helping business ownersto multiply their success, often through franchising. At Likewise, we feel that franchising works best, when itworks for everyone concerned. That’s why we focus on ensuring our clients enter into franchise agreements that are comprehensive, unambiguous and, above all, fair. We know, from decades of experience, that fair contracts engender mutual respect, cooperation and success. If you feel likewise, please contact <a class="gold5-fg" href="mailto:john@likewise.law">john@likewise.law</a>
                        </div>
                    </div>
                    <div class="introduction-scroll-caret" flex="100" layout="row" layout-align="center">
                        <a href="#nav" class="bounce" style="padding: 20px;">
                            <i class="white-fg material-icons">keyboard_arrow_down</i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- ******************************************** -->
            <!--                NAV LINKS                     -->
            <!-- ******************************************** -->
            <div id="nav" class="nav white-fg black-bg" flex layout="row">
                <div flex="100" layout="row" layout-align="space-between start">
                    <div class="nav-logo posr"></div>
                    <div flex="10" class="hamburger-menu-btn">
                    </div>
                    <div class="nav-links" flex="70" flex-md="80" layout="row" layout-align="space-between center" style="padding-right: 40px;">
                        <div class="hamburger-menu-close-btn">
                        </div>
                        <div>
                            <a class="nav-link gray1-fg text-decoration-none pt15 pb15" href="#likewise">Likewise*</a>
                        </div>
                        <div>
                            <a class="nav-link gray1-fg text-decoration-none pt15 pb15" href="#cv">John L. Rogers</a>
                        </div>
                        <div>
                            <a class="nav-link gray1-fg text-decoration-none pt15 pb15" href="#services">Services</a>
                        </div>
                        <div>
                            <a class="nav-link gray1-fg text-decoration-none pt15 pb15" href="#testimonials">Testimonials</a>
                        </div>
                        <div>
                            <a class="nav-link gray1-fg text-decoration-none pt15 pb15" href="#publications">Publications</a>
                        </div>
                        <div>
                            <a class="nav-link gray1-fg text-decoration-none pt15 pb15" href="#upfront">Up Front Fees</a>
                        </div>
                        <div>
                            <a class="nav-link gray1-fg text-decoration-none pt15 pb15" href="#contact">Contact</a>
                        </div>
                        <a href="https://www.linkedin.com/in/johnlrogers/">
                            <button class="circle-btn md-fab md-mini md-button md-ink-ripple gold3-bg posr" type="button">
                                <div class="md-ripple-container" style="text-transform: lowercase"><strong>in</strong></div>
                            </button>
                        </a>
                    </div>
                </div>
            </div>

            <!-- ******************************************** -->
            <!--                LAWYERS PIC                   -->
            <!-- ******************************************** -->
            <div class="lawyers-banner" flex layout="row">
                <div flex="100" layout="row" layout-align="center start">
                    <div class="lawyers-banner-title white-fg" flex="25" flex-xs="100" flex-offset="55" flex-offset-xs="0" layout="column" layout-align="center" style="text-align: center;">
                        <div>Advice you'll rely on again and again and again.</div>
                        <i class="lawyers-banner-title-caret gold2-fg material-icons posr">keyboard_arrow_down</i>
                    </div>
                </div>
            </div>

            <!-- ******************************************** -->
            <!--                CV OVERVIEW                   -->
            <!-- ******************************************** -->
            <div id="cv" class="gold1-fg white-bg font-size-30" layout="row">
                <div flex="30" flex-offset="10" layout="row" style="padding: 100px 0;">
                    John advises on all areas of franchise & business law from inception to termination
                </div>
            </div>
            <div class="black2-fg white-bg" flex layout="row" layout-align="space-between center">
                <div flex="50" flex-offset="35" layout="column">
                    <h3>A LEADING FRANCHISE AND BUSINESS LAWYER</h3>
                    <p>John L. Rogers is internationally recognized in franchise law and also practices corporate/commercial law and general business law. John has been recommended by L’expert many times, he has been named to the International Who’s Who of Franchise Lawyers and designated a “Legal Eagle.” in the U.S. by Franchise Times. John is among the most respected franchise lawyers in Canada with decades of experience helping franchisors, franchisees and their advisors navigate the legal complexities of franchising and corporate/commercial law.</p>
                    <p>John has been admitted to the bar in both British Columbia and Ontario and has experience advising on franchise legislation and drafting of franchise disclosure documents in all franchise-regulated provinces. For four years, John served as general counsel, a director and secretary of the Canadian Franchise Association. In those roles he helped develop policies and programs for the betterment of the franchise industry in Canada and promotion of ethical conduct and camaraderie among industry members.</p>
                    <p>Download <a href="#"> John's Curriculum Vitae</a></p>
                </div>
            </div>
            <div class="white-bg" flex layout="row" layout-align="center" style="padding: 100px 0;">
                <div class="buffer gray1-fg" flex="70" layout="row"></div>
            </div>

            <!-- ******************************************** -->
            <!--                CV CONTENT                    -->
            <!-- ******************************************** -->
            <div class="cv-listing black2-fg white-bg" flex layout="row" layout-align="center start" style="padding-bottom: 100px;">
                <div flex="20" layout="column" layout-align="center stretch">
                    <div>
                        <h3>Practice Areas</h3>
                        <ul>
                            <li>Franchise Law</li>
                            <li>Corporate/Commercial</li>
                            <li>General Business Law</li>
                        </ul>
                    </div>
                    <div>
                        <h3>Areas of Expertise</h3>
                        <ul>
                            <li>Franchise Law</li>
                            <li>Corporate/Commercial</li>
                            <li>General Business Law</li>
                            <li>Franchise Disclosure Documents</li>
                            <li>Franchise Agreements</li>
                            <li>Master Franchise Agreements</li>
                            <li>Area Development Agreements</li>
                            <li>Security Agreements</li>
                            <li>Franchise Regulation</li>
                            <li>Cross Border Expansion</li>
                            <li>Negotiation / Settlement of Disputes</li>
                            <li>Franchise Renewals</li>
                            <li>Franchise Termination</li>
                        </ul>
                    </div>
                    <div>
                        <h3>Awards & Distinctions</h3>
                        <ul>
                            <li>L’expert-ranked for Franchise Law (Canada)</li>
                            <li>Who’s Who of Franchise Lawyers (International)</li>
                            <li>“Legal Eagle” (US)</li>
                        </ul>
                    </div>
                </div>
                <div style="width:20px;"></div>
                <div flex="20" layout="column">
                    <div>
                        <h3>Industry Associations</h3>
                        <ul>
                            <li>Member, Canadian Franchise Association and its Legal & Legislative Committee</li>
                            <li>Former General Counsel, Director, Secretary, Canadian Franchise Association</li>
                            <li>Former Member, Supplier Forum Board, International Franchise Association</li>
                        </ul>
                    </div>
                    <div>
                        <h3>Community Commitments</h3>
                        <ul>
                            <li>Sovereign Order of St. John, Knights Hospitaller, Knight of Justice</li>
                            <li>Palliative Care Volunteer, St. John Hospice, Vancouver</li>
                            <li>Canadian Franchise Association, Legal & Legislative Committee</li>
                            <li>Vancouver College Alumni Association</li>
                        </ul>
                    </div>
                    <div>
                        <h3>Education & Calls to Bar</h3>
                        <ul>
                            <li>Calls to Bar: British Columbia, 1977; Ontario, 2005</li>
                            <li>Bachelor of Laws, University of British Columbia, 1976</li>
                            <li>Bachelor of Arts (English Literature), University of British Columbia, 1973</li>
                            <li>Vancouver College (with Honours), 1968</li>
                        </ul>
                    </div>
                </div>
                <div style="width:20px;"></div>
                <div flex="20" layout="row">
                    <div>
                        <h3>Publications</h3>
                        <ul>
                            <li>Co-author of Chapter 1 “Structuring an Expansion to Canada”, ABA’s book on Franchising in Canada, January, 2017</li>
                            <li>Editor and Co-author, Chapter on Canada, “The Franchise Law Review” (Annual Book, 2017), London, UK</li>
                            <li>“Essential Differences exist between Trademarks in Canada and the US”, 2012</li>
                            <li>“New Franchises Act (BC)”, 2017</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- ******************************************** -->
            <!--                    CUPS                      -->
            <!-- ******************************************** -->
            <div id="services" class="white-fg" flex layout="row">
                <div class="services-banner" flex="100" layout="row" layout-align="center start">
                    <div class="font-size-40" style="padding-top: 160px;">Franchising & Legal Services</div>
                </div>
            </div>

            <!-- ******************************************** -->
            <!--                    SERVICES                  -->
            <!-- ******************************************** -->
            <div class="white-bg" flex layout="row" layout-align="center start" style="padding: 100px 0;">
                <div class="font-size-30 gold1-fg" flex="33">Franchising is about faithfully duplicating the factors responsible for a franchisor's business success.</div>
                <div class="black2-fg" flex="33" style="padding-top: 110px;">
                    Faithful duplication of every aspect of a business model, operating systems, products, training and marketing is what makes visiting your favourite coffee spot in Vancouver or Dallas feel the same. It’s what makes the hamburger you had in Beijing taste just like the one back home. And, it’s what makes the franchise business model work. At Likewise, we draft franchise documents that ensure faithful duplication and engender respect for a business relationship by clearly defining the roles and responsibilities of all parties to  franchise agreements including franchisors, franchisees and suppliers.
                </div>
            </div>

            <!-- ******************************************** -->
            <!--            SERVICES: HAMBURGERS              -->
            <!-- ******************************************** -->
            <div class="white-bg" flex layout="column" layout-align="center center">
                <div class="font-weight-bold font-size-25">Have you found the secret sauce?</div>
            </div>
            <div class="white-bg" flex layout="row" layout-align="center center" style="padding: 20px 0 40px 0;">
                <div layout="row" class="buffer gray1-fg" style="width:50px;"></div>
            </div>
            <div class="white-bg" flex layout="row" layout-align="center center" style="padding-bottom: 50px;">
                <div class="services-hamburger-one" flex="20"></div>
                <div class="services-hamburger-two" flex="20"></div>
                <div class="services-hamburger-three" flex="20"></div>
                <div class="services-hamburger-four" flex="20"></div>
            </div>


            <!-- ******************************************** -->
            <!--            SERVICES: FRANCHISING             -->
            <!-- ******************************************** -->
            <div class="white-bg black2-fg" flex layout="row" layout-align="center start" style="padding-bottom: 100px;">
                <div flex="35" layout="column">
                    <div>
                        <h3 class="uppercase font-family-avenirnextr-demi">Franchisors</h3>
                        <p>If you have a concept and are considering starting or expanding a franchise system in Canada, we can help. Likewise advises franchisors on: </p>
                        <ul>
                            <li>Registration of Canadian trade marks.</li>
                            <li>Preparation (or updating) of franchise agreements.</li>
                            <li>Preparation of franchise disclosure documents.</li>
                            <li>Incorporation of franchisors.</li>
                            <li>Preparation (or review) of leases/subleases.</li>
                            <li>General franchise advice.</li>
                        </ul>
                    </div>
                    <div style="padding-top: 200px;">
                        <div>
                            <div class="white-bg" flex layout="column" layout-align="center center">
                                <div class="font-weight-bold font-size-25">
                                    <img src="images/store-icon.png" />
                                    <img src="images/store-icon.png" />
                                    <img src="images/store-icon.png" />
                                </div>
                            </div>
                            <div class="white-bg" flex layout="row" layout-align="center center" style="padding-top: 20px;">
                                <div layout="row" class="buffer gray1-fg" style="width:50px;"></div>
                            </div>
                        </div>
                        <h3 class="uppercase font-family-avenirnextr-demi">Franchisees</h3>
                        <p>For prospective franchisees, our services include: </p>
                        <ul>
                            <li>Review of franchise disclosure documentsand franchise agreements.</li>
                            <li>Memos summarizing our reviews andproviding our recommendations for changes.</li>
                            <li>Incorporation of franchisees.</li>
                            <li>Leasing/subleasing advice.</li>
                            <li>General advice on becoming a franchisee.</li>
                        </ul>
                    </div>
                </div>
                <div layout="column" style="width: 30px;">
                </div>
                <div flex="35" layout="column">
                    <div style="padding-top: 150px;">
                        <div class="white-bg" flex layout="column" layout-align="center center">
                            <div class="font-weight-bold font-size-25">Expanding to Canada?</div>
                        </div>
                        <div class="white-bg" flex layout="row" layout-align="center center" style="padding: 20px 0 30px 0;">
                            <div layout="row" class="buffer gray1-fg" style="width:50px;"></div>
                        </div>
                    </div>
                    <div class="services-fries" style="padding-bottom: 20px;"></div>
                    <div>
                        <h3 class="uppercase font-family-avenirnextr-demi">U.S. Franchisors</h3>
                        <p>Are you a U.S. franchisor considering an expansion to Canada? We can modify your franchise agreement and FDD to comply with Canadian law. For U.S franchisors, we provide: </p>
                        <ul>
                            <li>’Canadianization’ of franchise agreements, master franchise agreements and area development agreements.</li>
                            <li>Preparation of franchise disclosure documents that comply with Canadian regulations.</li>
                            <li>Registration of Canadian trade marks.</li>
                            <li>Incorporation of Canadian subsidiaries.</li>
                            <li>General advice on compliance with Canadian laws and customs.</li>
                        </ul>
                    </div>
                    <div style="padding-top: 50px;">
                        <div class="white-bg" flex layout="column" layout-align="center center">
                            <div class="font-weight-bold font-size-25">
                                <img src="images/truck-icon.png" />
                                <img src="images/truck-icon.png" />
                                <img src="images/truck-icon.png" />
                            </div>
                        </div>
                        <div class="white-bg" flex layout="row" layout-align="center center" style="padding-top: 20px;">
                            <div layout="row" class="buffer gray1-fg" style="width:50px;"></div>
                        </div>
                    </div>
                    <div>
                        <h3 class="uppercase font-family-avenirnextr-demi">Franchise Suppliers</h3>
                        <p>Everyone about to become in a franchise relationship should seek legal advice. For franchise suppliers, we provide:</p>
                        <ul>
                            <li>Preparation or review of supply or distribution agreements.</li>
                            <li>General corporate/commercial services.</li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- ******************************************** -->
            <!--             SERVICES: GENERAL LEGAL          -->
            <!-- ******************************************** -->
            <div class="white-bg posr" flex layout="row" layout-align="center">
                <div class="buffer gray1-fg" flex="70" layout="row"></div>
                <div class="services-signhere posa"></div>
            </div>
            <div class="white-bg black2-fg" flex layout="column" layout-align="center start" style="padding-top: 120px;">
                <div flex="100" layout="row" flex-offset="15">
                    <div flex="100">
                        <h2>General Legal Services</h2>
                        <p><strong>Not franchising?</strong> That’s ok, we also provide general commercial services including:</p>
                    </div>
                </div>
                <div flex layout="row" flex-offset="15">
                    <div flex="25">
                        <ul>
                            <li>Incorporations</li>
                            <li>Planning, structuring and implementing contractual relationships on a local or cross-border basis.</li>
                            <li>Providing opinions on Canadiancommercial legal issues.</li>
                        </ul>
                    </div>
                    <div flex="25">
                        <ul>
                            <li>Shareholders agreements</li>
                            <li>Joint venture agreements</li>
                            <li>Ongoing representation of Canadian and international clients.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div flex="100" layout="row" layout-align="center center" class="white-bg" style="padding: 50px 0;">
                <a href="#testimonials" class="bounce" style="padding: 20px;">
                    <i class="gold2-fg material-icons">keyboard_arrow_down</i>
                </a>
            </div>

            <!-- ******************************************** -->
            <!--                TESTIMONIALS                  -->
            <!-- ******************************************** -->
            <div id="testimonials" class="white-fg gold2-bg" flex layout="row" style="padding: 80px 0;">
                <div flex="100" layout="row" layout-align="center center">
                    <div>
                        <i class="material-icons flip-xy" style="opacity: 0.3; font-size: 50px;">format_quote</i>
                    </div>
                </div>
            </div>
            <div class="white-fg gold2-bg" flex layout="row" layout-align="center start" style="padding-bottom: 80px;">
                <div flex="20">
                    <h1>I will never use another lawyer.</h1>
                </div>
                <div flex="40">
                    Hendrerit accusantium semper ligula, sed ratione nascetur consectetur culpa? Urna! Iure aliquid, netus magni, malesuada, aut? Animi, torquent distinctio sunt optio molestie aspernatur, cursus, feugiat excepturi, laboris irure arcu velit! Ut bibendum facilis mollit faucibus, animi, facilis mi nascetur. Labore. Facilisis feugiat repudiandae dolorum class.
                </div>
            </div>

            <!-- ******************************************** -->
            <!--                PUBLICATIONS                  -->
            <!-- ******************************************** -->
            <div id="publications" class="white-bg" flex layout="column" style="padding: 100px 0;">
                <div class="gold2-fg" flex="100" layout="row" layout-align="center center" style="padding-bottom: 50px;">
                    <div>
                        <h1>Publications</h1>
                    </div>
                </div>
                <div class="white-bg black2-fg" flex layout="row" layout-align="center start">
                    <div flex="25" layout="column">
                        <div>
                            <img src="images/publication.png" />
                        </div>
                        <h3 class="uppercase">Structuring and expansion to Canada</h3>
                        <div class="white-bg" flex layout="row" layout-align="start center" style="padding-bottom: 10px;">
                            <div layout="row" class="buffer gray1-fg" style="width:25px;"></div>
                        </div>
                        <p>A non-Canadian franchisor planning to expand its franchise system to Canada must make important decisions on the type of legal entity to use for the expansion and the method by which the expansion...</p>
                        <p>
                            <a href="#">View PDF <i class="material-icons" style="position: relative; top: 3px; font-size: 17px;">keyboard_arrow_right</i></a>
                        </p>
                    </div>
                    <div style="width:30px;"></div>
                    <div flex="25" layout="column">
                        <div>
                            <img src="images/publication.png" />
                        </div>
                        <h3 class="uppercase">The Franchise Law Review: Chapter 20 – Canada</h3>
                        <div class="white-bg" flex layout="row" layout-align="start center" style="padding-bottom: 10px;">
                            <div layout="row" class="buffer gray1-fg" style="width:25px;"></div>
                        </div>
                        <p>Franchising is very active in Canada, where an estimated 1,300 franchise brands and 78,000 franchised units currently operate. Approximately 45 per cent of all retail sales in Canada are made from franchised outlets...</p>
                        <p>
                            <a href="#">View PDF <i class="material-icons" style="position: relative; top: 3px; font-size: 17px;">keyboard_arrow_right</i></a>
                        </p>
                    </div>
                    <div style="width:30px;"></div>
                    <div flex="25" layout="column">
                        <div>
                            <img src="images/publication.png" />
                        </div>
                        <h3 class="uppercase">Franchises Act (BC) – In Force February 1, 2017</h3>
                        <div class="white-bg" flex layout="row" layout-align="start center" style="padding-bottom: 10px;">
                            <div layout="row" class="buffer gray1-fg" style="width:25px;"></div>
                        </div>
                        <p>Franchise regulation has arrived in British Columbia.  The new BC Franchises Act (the “BC Act” or simply the “Act”) and regulations to it (the “BC Regs” or simply the “Regs”) came into force on Feb...</p>
                        <p>
                            <a href="#">View PDF <i class="material-icons" style="position: relative; top: 3px; font-size: 17px;">keyboard_arrow_right</i></a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- ******************************************** -->
            <!--              UPFRONT PRICING                 -->
            <!-- ******************************************** -->
            <div id="upfront" class="gold2-fg" flex layout="row">
                <div class="pricing-banner" flex="100" layout="row" layout-align="center start">
                    <div class="font-size-40" style="padding-top: 120px;">Up Front Pricing</div>
                </div>
            </div>
            <div class="white-bg" flex layout="row" layout-align="center center" style="padding: 50px 0;">
                <a href="#contact" class="bounce" style="padding: 20px;">
                    <i class="gold2-fg material-icons">keyboard_arrow_down</i>
                </a>
            </div>

            <!-- ******************************************** -->
            <!--                  CONTACT                     -->
            <!-- ******************************************** -->
            <div class="white-bg black2-fg" flex layout="row" layout-align="center center">
                <div flex="70" flex-offset="15">
                    <p>We appreciate that many clients dislike hourly rates because they want to know, up front, what their legal fees are going to be. That’s why Likewise offers the option of Up Front Pricing.</p>
                    <p>Once any major documents required of us have been determined, we will provide an up front fee quote in a client engagement letter, with a retainer required. The up front price will apply to all work specified in the engagement letter. Only if additional work is required will an hourly rate apply.  Disbursements and taxes will be extra. The engagement letter will cover all of these points.</p>
                    <p id="contact" style="font-weight: 700;">Need a fixed price? Drop us a line:</p>
                </div>
                <div flex="15" layout="row"></div>
            </div>
            <div class="white-bg" flex layout="row" layout-align="center center" style="padding-top: 30px; padding-bottom: 150px;">
                <form name="userForm" action="https://formspree.io/alachkovics@gmail.com" method="post" flex="70">
                    <div layout="column">
                        <div flex="grow" layout="row" style="margin-bottom: 15px;" class="contact-input-container" ng-class="{ 'validation-error': !validName }">
                            <input flex
                                   id="name"
                                   class="gray1-bg"
                                   name="user_name"
                                   type="text"
                                   ng-model="user_name"
                                   placeholder="Name*"
                                   style="font-size: 18px; padding: 20px 40px; border: none;">
                        </div>
                        <div flex="grow" layout="row" style="margin-bottom: 15px;" class="contact-input-container" ng-class="{ 'validation-error': !validMail }">
                            <input flex
                                   id="mail"
                                   name="user_mail"
                                   class="gray2-bg"
                                   type="email"
                                   ng-model="user_mail"
                                   placeholder="Email*"
                                   style="font-size: 18px; padding: 20px 40px; border: none;">
                        </div>
                        <div flex="grow" layout="row">
                            <input flex
                                   id="msg"
                                   name="user_message"
                                   class="gray3-bg"
                                   type="text"
                                   ng-model="user_message"
                                   placeholder="Describe your needs ..."
                                   style="font-size: 18px; padding: 20px 40px; border: none;">
                        </div>
                        <div flex layout="row" layout-align="center" style="margin-top: 50px;">
                            <button  type="submit" class="contact-submit-btn gold2-bg white-fg border1-white shake-icon" ng-click="validate($event)">
                                Send Request <i class="material-icons posr" style="top: 4px; font-size: 20px;">keyboard_arrow_right</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- ******************************************** -->
            <!--                    MAP                       -->
            <!-- ******************************************** -->
            <div class="gold2-fg" flex layout="row">
                <div class="map-banner cp"
                     onclick="window.open('https://www.google.ca/maps/place/1125+Howe+St,+Vancouver,+BC+V6Z+2K8/@49.2788715,-123.1283545,17z/data=!3m1!4b1!4m5!3m4!1s0x548673d4f918da71:0x5cca229fc5d0c616!8m2!3d49.2788715!4d-123.1261658', '_blank')"
                     flex="100"
                     layout="row"
                     layout-align="center start">
                </div>
            </div>

            <!-- ******************************************** -->
            <!--                 FOOTER                       -->
            <!-- ******************************************** -->
            <div class="white-fg black-bg" flex layout="row" layout-align="center start" style="padding: 100px 0;">
                <div flex="20" layout="row" flex-offset="5">
                    <div>
                        <p>1400 - 1125 Howe Street</p>
                        <p>Vancouver, BC Canada V6Z 2K8</p>
                        <p>Phone: 604 559 6201</p>
                    </div>
                </div>
                <div flex="5"></div>
                <div flex="20" layout="row">
                    <div>
                        <p><b>John L. Rogers</b>, Senior Lawyer</p>
                        <p>Cell: 604 209 6451</p>
                        <p>Email: <a href="mailto:john@likewise.law">john@likewise.law</a></p>
                    </div>
                </div>
                <div flex="5"></div>
                <div flex="20" layout="row">
                    <div>
                        <p><b>Tonia Amaral</b>, Assistant</p>
                        <p>Direct: 604 559 6201</p>
                        <p>Email: <a href="mailto:tonia@likewise.law">tonia@likewise.law</a></p>
                    </div>
                </div>
            </div>

            <div class="white-fg black-bg" flex layout="row" style="padding-bottom: 150px;">
                <div flex="100" layout="column" layout-align="start center">
                    <div style="padding-bottom: 20px;">
                        <img src="images/owls-logo.png"/>
                    </div>
                    <div class="footer-logo"></div>
                    <div class="gold2-fg">
                        <h2>Franchise & Business Law</h2>
                    </div>
                </div>
            </div>
            <div class="gray2-fg black-bg" flex layout="row">
                <div flex="100" layout="row" layout-align="end center">
                    <div style="padding: 0 25px 10px 0;">*Denotes Law Corporation</div>
                </div>
            </div>
        </div>

        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/angular-animate/angular-animate.min.js"></script>
        <script src="node_modules/angular-aria/angular-aria.min.js"></script>
        <script src="node_modules/angular-material/angular-material.min.js"></script>
        <script>
            var app = angular.module('likewiseApp',['ngMaterial']);
            app.controller('likewiseCtrl', function($scope, $timeout, $mdSidenav) {
                $scope.validName = true;
                $scope.validMail = true;

                $scope.validate = function (event) {
                    $scope.validName = !!$scope.user_name;
                    $scope.validMail = !!$scope.user_mail;

                    if ($scope.validName && $scope.validMail) {
                        return true;
                    } else {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                }
            });
        </script>
    </body>
</html>
