<!doctype html>
<html>
    <head>
        <title>Likewise</title>
        <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="css/atoms.css">
        <link rel="stylesheet" href="css/colours.css">
        <link rel="stylesheet" href="css/fonts.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body ng-app="likewiseApp" style="max-width: 1400px; margin: 0 auto;">
        <div>
            <!-- ******************************************** -->
            <!--                CONTACT                       -->
            <!-- ******************************************** -->
            <div id="section01" class="font-family-avenirnextr-demi white-fg black-bg" flex layout="row" layout-align="end start"  style="height: 200px;">
                <div style="padding: 40px 15px;">
                    Phone: 604.559.6201
                </div>
                <button class="md-fab md-mini md-button md-ink-ripple gold3-bg" type="button" style="position: relative; top: 20px; margin-right: 40px;">
                    <!--<md-icon md-svg-src="images/caret.png"></md-icon>-->
                    <div class="md-ripple-container" style="text-transform: lowercase">in</div>
                </button>
            </div>

            <!-- ******************************************** -->
            <!--                BANNER                        -->
            <!-- ******************************************** -->
            <div id="section02" class="font-family-avenirnextr-regular white-fg black-bg h500" flex layout="column">
                <div flex="100" layout="column" layout-align="start center">
                    <div>
                        <img src="images/banner-logo.png"/>
                    </div>
                    <div class="gold2-fg">
                        <h2>Franchise & Business Law</h2>
                    </div>
                </div>
                <div flex="100" layout="row" layout-align="space-around end">
                    <div>
                        <img class="translatey-6" src="images/owl1.png"/>
                    </div>
                    <div>
                        <img class="translatey-6" src="images/owl2.png"/>
                    </div>
                    <div style="position: relative;">
                        <img class="translatey-6" src="images/owl1.png"/>
                        <div class="blink" style="position: absolute; top: 155px; left: 224px;">
                            <img src="images/owl-blink.png"/>
                        </div>
                    </div>
                </div>
                <div class="red" flex="100 lightgreen" layout="row" layout-align="center end">
                    <a href="#section03">
                        <button class="md-fab md-button md-ink-ripple" type="button" style="position: relative; top: 33px;">
                            <!--<md-icon md-svg-src="images/caret.png"></md-icon>-->
                            <div class="md-ripple-container" style=""></div>
                        </button>
                    </a>
                </div>
            </div>

            <!-- ******************************************** -->
            <!--                INTRODUCTION                  -->
            <!-- ******************************************** -->
            <div id="section03" class="white-fg gold2-bg" flex layout="row" style="height:450px;">
                <div flex layout="column">
                    <div flex="100" layout="row" layout-align="center end">
                        <h1>Go forth and multiply</h1>
                    </div>
                    <div flex="100" layout="row">
                        <div flex="66" flex-offset="15">
                            Likewise* is a boutique law practice managed by John L. Rogers, and focussed on helping business ownersto multiply their success, often through franchising. At Likewise, we feel that franchising works best, when itworks for everyone concerned. That’s why we focus on ensuring our clients enter into franchise agreements that are comprehensive, unambiguous and, above all, fair. We know, from decades of experience, that fair contracts engender mutual respect, cooperation and success. If you feel likewise, please contact john@likewise.law
                        </div>
                    </div>
                    <div flex="100" layout="row" layout-align="center">
                        <div>
                            <a href="#section04" style="padding: 20px;">
                                <img src="images/caret.png"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ******************************************** -->
            <!--                NAV LINKS                     -->
            <!-- ******************************************** -->
            <div id="section04" class="white-fg black-bg" flex layout="row" style="height: 170px;">
                <div flex="100" layout="row" layout-align="space-between center">
                    <div style="padding-left: 40px;">
                        <img src="images/owls-logo.png"/>
                    </div>
                    <div flex="70" layout="row" layout-align="space-between" style="padding-right: 40px;">
                        <div>
                            <a class="white-fg text-decoration-none" href="#">Likewise*</a>
                        </div>
                        <div>
                            <a class="white-fg text-decoration-none" href="#">John L. Rogers</a>
                        </div>
                        <div>
                            <a class="white-fg text-decoration-none" href="#">Services</a>
                        </div>
                        <div>
                            <a class="white-fg text-decoration-none" href="#">Testimonials</a>
                        </div>
                        <div>
                            <a class="white-fg text-decoration-none" href="#">Publications</a>
                        </div>
                        <div>
                            <a class="white-fg text-decoration-none" href="#">Up Front Fees</a>
                        </div>
                        <div>
                            <a class="white-fg text-decoration-none" href="#">Contact</a>
                        </div>
                        <button class="md-fab md-mini md-button md-ink-ripple gold3-bg" type="button" style="position: relative;top: -17px;">
                            <!--<md-icon md-svg-src="images/caret.png"></md-icon>-->
                            <div class="md-ripple-container" style="text-transform: lowercase">in</div>
                        </button>
                    </div>
                </div>
            </div>

            <!-- ******************************************** -->
            <!--                LAWYERS PIC                   -->
            <!-- ******************************************** -->
            <div flex layout="row" style="background-image: url('images/lawyers-pic.png'); height: 660px;">
                <div flex="100" layout="row" layout-align="center center">
                    <div class="font-size-40 white-fg" flex="25" flex-offset="55" layout-align="center" style="text-align: center;">Advice you'll rely on again and again and again.</div>
                </div>
            </div>

            <!-- ******************************************** -->
            <!--                CV OVERVIEW                   -->
            <!-- ******************************************** -->
            <div class="gold1-fg white-bg font-size-30" layout="row">
                <div flex="30" flex-offset="10" layout="row" style="padding: 100px 0;">
                    John advises on all areas of franchise & business law from inception to termination
                </div>
            </div>
            <div class="black2-fg white-bg" flex layout="row" layout-align="space-between center">
                <div flex="50" flex-offset="35" layout="column">
                    <h3>A LEADING FRANCHISE AND BUSINESS LAWYER</h3>
                    <p>Modi labore do repellendus perferendis iste, nisi faucibus illum tortor ultrices libero, etiam eligendi lacus. Saepe! Magna elementum, cillum cubilia! Nunc ullamco! Eget maxime inceptos fames! Hic dolorum aute distinctio? Turpis ullamcorper? Porta blandit similique litora do ipsam cupidatat incididunt delectus! Reiciendis ullamcorper tellus expedita, animi sunt perferendis. Wisi maecenas massa repellat error blanditiis facilisis accusantium, repudiandae maiores nonummy praesentium cillum inventore? Tempor iaculis quis? Accumsan sit sem dolores eos doloremque ultrices, ratione, pharetra sodales, tortor? Neque a, fames dignissim magni tenetur eros quia ipsa quo60s recusandae blanditiis eget sociis! Ridiculus id phasellus egestas numquam, dignissimos, proident wisi laborum? Ac.</p>
                    <p>Download <a href="#"> John's Curriculum Vitae</a></p>
                </div>
            </div>
            <div class="white-bg" flex layout="row" layout-align="center" style="padding: 100px 0;">
                <div class="buffer gray1-fg" flex="70" layout="row"></div>
            </div>

            <!-- ******************************************** -->
            <!--                CV CONTENT                    -->
            <!-- ******************************************** -->
            <div class="black2-fg white-bg" flex layout="row" layout-align="center start" style="padding-bottom: 100px; background-image: url('images/beans.png'); background-repeat: no-repeat; background-position: 100% 150%;">
                <div flex="20" layout="row" layout-align="center stretch">
                    <div layout-align="center stretch">
                    Hendrerit accusantium semper ligula, sed ratione nascetur consectetur culpa? Urna! Iure aliquid, netus magni, malesuada, aut? Animi, torquent distinctio sunt optio molestie aspernatur, cursus, feugiat excepturi, laboris irure arcu velit! Ut bibendum facilis mollit faucibus, animi, facilis mi nascetur. Labore. Facilisis feugiat repudiandae dolorum class.
                    </div>
                </div>
                <div flex="5"></div>
                <div flex="20" layout="row">
                    <div>
                    Fugiat rerum perspiciatis, posuere quaerat elementum, hic cupiditate urna, felis nunc consectetur sodales in augue minus. Mollit totam, ullamco magnis hendrerit perspiciatis lacus laboriosam auctor rerum tempus sequi ratione! Enim? Varius sociosqu praesent sodales sit litora quae irure? Labore tristique lectus rerum, eaque! Sociis explicabo vel! Ducimus fuga.
                    </div>
                </div>
                <div flex="5"></div>
                <div flex="20" layout="row">
                    <div>
                    Consequatur dolorum? Magnis reiciendis auctor iaculis? Lorem ridiculus! Quod eaque aute expedita ab ipsam varius aperiam mollis. Natoque harum minim aptent vestibulum id montes, sunt totam quae ligula, fusce? Cupidatat torquent magnam ab orci nostrum, ut malesuada provident, consequat quidem eius aenean, aliquip nostra autem, quisque.
                    </div>
                </div>
            </div>

            <!-- ******************************************** -->
            <!--            FRANCHISING & LEGAL               -->
            <!-- ******************************************** -->
            <div class="white-fg" flex layout="row">
                <div flex="100" layout="row" layout-align="center start" style="height: 774px; background-image: url('images/cups.png'); background-repeat: no-repeat;">
                    <div class="font-size-40" style="padding-top: 160px;">Franchising & Legal Services</div>
                </div>
            </div>

            <!-- ******************************************** -->
            <!--            FRANCHISING INTRO                 -->
            <!-- ******************************************** -->
            <div class="white-bg" flex layout="row" layout-align="center start" style="padding: 100px 0;">
                <div class="font-size-30 gold1-fg" flex="33">Franchising is about faithfully duplicating the factors responsible for a franchisor's business success.</div>
                <div class="black2-fg" flex="33" style="padding-top: 110px;">
                    Accusantium, vestibulum consequat phasellus aute sapiente eligendi vitae, tempore. Ultrices eu venenatis praesent praesentium, ea! Commodo quisquam maiores, mi! Accumsan, impedit urna. Nesciunt metus! Wisi voluptatibus error, hymenaeos vestibulum habitasse sed accumsan! Sollicitudin a ullamcorper, dignissim blanditiis provident earum natoque dapibus mi? Accusantium, vestibulum consequat phasellus aute sapiente eligendi vitae, tempore. Ultrices eu venenatis praesent praesentium, ea! Commodo quisquam maiores, mi! Accumsan, impedit urna. Nesciunt metus! Wisi voluptatibus error, hymenaeos vestibulum habitasse sed accumsan! Sollicitudin a ullamcorper, dignissim blanditiis provident earum natoque dapibus mi?
                </div>
            </div>

            <!-- ******************************************** -->
            <!--                HAMBURGERS                    -->
            <!-- ******************************************** -->
            <div class="white-bg" flex layout="column" layout-align="center center">
                <div class="font-weight-bold font-size-25">Have you found the secret sauce?</div>
            </div>
            <div class="white-bg" flex layout="row" layout-align="center center" style="padding: 20px 0 40px 0;">
                <div layout="row" class="buffer gray1-fg" style="width:50px;"></div>
            </div>
            <div class="white-bg" flex layout="row" layout-align="center center" style="padding-bottom: 50px;">
                <div flex="20">
                    <img src="images/burger.png"/>
                </div>
                <div flex="20">
                    <img src="images/burger.png"/>
                </div>
                <div flex="20">
                    <img src="images/burger.png"/>
                </div>
                <div flex="20">
                    <img src="images/burger.png"/>
                </div>
            </div>


            <!-- ******************************************** -->
            <!--            FRANCHISING CONTENT               -->
            <!-- ******************************************** -->
            <div class="white-bg black2-fg" flex layout="row" layout-align="center start" style="padding-bottom: 100px;">
                <div flex="35" layout="column">
                    <div>
                        <h3 class="uppercase font-family-avenirnextr-demi">Franchisors</h3>
                        <p>Hendrerit accusantium semper ligula, sed ratione nascetur consectetur culpa? Urna! Iure aliquid, netus magni, malesuada, aut? Animi, torquent distinctio sunt optio molestie aspernatur, cursus, feugiat excepturi, laboris irure arcu velit! Ut bibendum facilis mollit faucibus, animi, facilis mi nascetur. Labore. Facilisis feugiat repudiandae dolorum class.</p>
                    </div>
                    <div style="padding-top: 200px;">
                        <div>
                            <div class="white-bg" flex layout="column" layout-align="center center">
                                <div class="font-weight-bold font-size-25">
                                    <img src="images/store-icon.png" />
                                    <img src="images/store-icon.png" />
                                    <img src="images/store-icon.png" />
                                </div>
                            </div>
                            <div class="white-bg" flex layout="row" layout-align="center center" style="padding-top: 20px;">
                                <div layout="row" class="buffer gray1-fg" style="width:50px;"></div>
                            </div>
                        </div>
                        <h3 class="uppercase font-family-avenirnextr-demi">Franchisees</h3>
                        <p>Hendrerit accusantium semper ligula, sed ratione nascetur consectetur culpa? Urna! Iure aliquid, netus magni, malesuada, aut? Animi, torquent distinctio sunt optio molestie aspernatur, cursus, feugiat excepturi, laboris irure arcu velit! Ut bibendum facilis mollit faucibus, animi, facilis mi nascetur. Labore. Facilisis feugiat repudiandae dolorum class.</p>
                    </div>
                </div>
                <div layout="column" style="width: 30px;">
                </div>
                <div flex="35" layout="column">
                    <div style="padding-top: 150px;">
                        <div class="white-bg" flex layout="column" layout-align="center center">
                            <div class="font-weight-bold font-size-25">Expanding to Canada?</div>
                        </div>
                        <div class="white-bg" flex layout="row" layout-align="center center" style="padding: 20px 0 30px 0;">
                            <div layout="row" class="buffer gray1-fg" style="width:50px;"></div>
                        </div>
                    </div>
                    <div style="padding-bottom: 20px;">
                        <img src="images/fries.png" />
                    </div>
                    <div>
                        <h3 class="uppercase font-family-avenirnextr-demi">U.S. Franchisors</h3>
                        <p>Hendrerit accusantium semper ligula, sed ratione nascetur consectetur culpa? Urna! Iure aliquid, netus magni, malesuada, aut? Animi, torquent distinctio sunt optio molestie aspernatur, cursus, feugiat excepturi, laboris irure arcu velit! Ut bibendum facilis mollit faucibus, animi, facilis mi nascetur. Labore. Facilisis feugiat repudiandae dolorum class.</p>
                    </div>
                    <div style="padding-top: 50px;">
                        <div class="white-bg" flex layout="column" layout-align="center center">
                            <div class="font-weight-bold font-size-25">
                                <img src="images/truck-icon.png" />
                                <img src="images/truck-icon.png" />
                                <img src="images/truck-icon.png" />
                            </div>
                        </div>
                        <div class="white-bg" flex layout="row" layout-align="center center" style="padding-top: 20px;">
                            <div layout="row" class="buffer gray1-fg" style="width:50px;"></div>
                        </div>
                    </div>
                    <div>
                        <h3 class="uppercase font-family-avenirnextr-demi">Franchise Suppliers</h3>
                        <p>Hendrerit accusantium semper ligula, sed ratione nascetur consectetur culpa? Urna! Iure aliquid, netus magni, malesuada, aut? Animi, torquent distinctio sunt optio molestie aspernatur, cursus, feugiat excepturi, laboris irure arcu velit! Ut bibendum facilis mollit faucibus, animi, facilis mi nascetur. Labore. Facilisis feugiat repudiandae dolorum class.</p>
                    </div>
                </div>
            </div>


            <!-- ******************************************** -->
            <!--                GENERAL LEGAL                 -->
            <!-- ******************************************** -->
            <div class="white-bg" flex layout="row" layout-align="center" style="position: relative;">
                <div class="buffer gray1-fg" flex="70" layout="row"></div>
                <div style="position: absolute; top: -50px; right: 350px;">
                    <img src="images/sign-here.png" />
                </div>
            </div>
            <div class="white-bg black2-fg" flex layout="column" layout-align="center center" style="padding-top: 120px;">
                <div flex layout="row" flex-offset="15">
                    <div flex="60">
                        <h2>General Legal Services</h2>
                        <p>Justo leo elit possimus eiusmod montes dignissimos sem adipisci rhoncus sociis scelerisque magna natoque hendrerit quo temporibus dis dolorem mus eget imperdiet ligula ex. Facilis non!</p>
                    </div>
                    <div flex></div>
                </div>
                <div flex="100" layout="row" style="padding: 50px 0;">
                    <a href="#testimonials" style="padding: 20px;">
                        <i class="gold2-fg material-icons">keyboard_arrow_down</i>
                    </a>
                </div>
            </div>

            <!-- ******************************************** -->
            <!--                TESTIMONIALS                  -->
            <!-- ******************************************** -->
            <div id="testimonials" class="white-fg gold2-bg" flex layout="row" style="padding: 80px 0;">
                <div flex="100" layout="row" layout-align="center center">
                    <div>
                        <i class="material-icons flip-xy" style="opacity: 0.3; font-size: 50px;">format_quote</i>
                    </div>
                </div>
            </div>
            <div class="white-fg gold2-bg" flex layout="row" layout-align="center start" style="padding-bottom: 80px;">
                <div flex="20">
                    <h1>I will never use another lawyer.</h1>
                </div>
                <div flex="40">
                    Hendrerit accusantium semper ligula, sed ratione nascetur consectetur culpa? Urna! Iure aliquid, netus magni, malesuada, aut? Animi, torquent distinctio sunt optio molestie aspernatur, cursus, feugiat excepturi, laboris irure arcu velit! Ut bibendum facilis mollit faucibus, animi, facilis mi nascetur. Labore. Facilisis feugiat repudiandae dolorum class.
                </div>
            </div>

            <!-- ******************************************** -->
            <!--                PUBLICATIONS                  -->
            <!-- ******************************************** -->
            <div id="section04" class="white-bg" flex layout="column" style="padding: 100px 0;">
                <div class="gold2-fg" flex="100" layout="row" layout-align="center center" style="padding-bottom: 50px;">
                    <div>
                        <h1>Publications</h1>
                    </div>
                </div>
                <div class="white-bg black2-fg" flex layout="row" layout-align="center start">
                    <div flex="25" layout="column">
                        <div>
                            <img src="images/publication.png" />
                        </div>
                        <h3 class="uppercase">Structuring and expansion to Canada</h3>
                        <div class="white-bg" flex layout="row" layout-align="start center" style="padding-bottom: 10px;">
                            <div layout="row" class="buffer gray1-fg" style="width:25px;"></div>
                        </div>
                        <p>Hendrerit accusantium semper ligula, sed ratione nascetur consectetur culpa? Urna! Iure aliquid, netus magni, malesuada, aut? Animi, torquent distinctio sunt optio molestie aspernatur, cursus, feugiat excepturi, laboris irure arcu velit! Ut bibendum facilis mollit faucibus, animi, facilis mi nascetur. Labore. Facilisis feugiat repudiandae dolorum class.</p>
                        <p>
                            <a href="#">View PDF <i class="material-icons" style="position: relative; top: 3px; font-size: 17px;">keyboard_arrow_right</i></a>
                        </p>
                    </div>
                    <div style="width:30px;"></div>
                    <div flex="25" layout="column">
                        <div>
                            <img src="images/publication.png" />
                        </div>
                        <h3 class="uppercase">Structuring and expansion to Canada</h3>
                        <div class="white-bg" flex layout="row" layout-align="start center" style="padding-bottom: 10px;">
                            <div layout="row" class="buffer gray1-fg" style="width:25px;"></div>
                        </div>
                        <p>Hendrerit accusantium semper ligula, sed ratione nascetur consectetur culpa? Urna! Iure aliquid, netus magni, malesuada, aut? Animi, torquent distinctio sunt optio molestie aspernatur, cursus, feugiat excepturi, laboris irure arcu velit! Ut bibendum facilis mollit faucibus, animi, facilis mi nascetur. Labore. Facilisis feugiat repudiandae dolorum class.</p>
                        <p>
                            <a href="#">View PDF <i class="material-icons" style="position: relative; top: 3px; font-size: 17px;">keyboard_arrow_right</i></a>
                        </p>
                    </div>
                    <div style="width:30px;"></div>
                    <div flex="25" layout="column">
                        <div>
                            <img src="images/publication.png" />
                        </div>
                        <h3 class="uppercase">Structuring and expansion to Canada</h3>
                        <div class="white-bg" flex layout="row" layout-align="start center" style="padding-bottom: 10px;">
                            <div layout="row" class="buffer gray1-fg" style="width:25px;"></div>
                        </div>
                        <p>Hendrerit accusantium semper ligula, sed ratione nascetur consectetur culpa? Urna! Iure aliquid, netus magni, malesuada, aut? Animi, torquent distinctio sunt optio molestie aspernatur, cursus, feugiat excepturi, laboris irure arcu velit! Ut bibendum facilis mollit faucibus, animi, facilis mi nascetur. Labore. Facilisis feugiat repudiandae dolorum class.</p>
                        <p>
                            <a href="#">View PDF <i class="material-icons" style="position: relative; top: 3px; font-size: 17px;">keyboard_arrow_right</i></a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- ******************************************** -->
            <!--              UPFRONT PRICING                 -->
            <!-- ******************************************** -->
            <div class="gold2-fg" flex layout="row">
                <div flex="100" layout="row" layout-align="center start" style="height: 758px; background-image: url('images/upfront.png'); background-repeat: no-repeat;">
                    <div class="font-size-40" style="padding-top: 120px;">Up Front Pricing</div>
                </div>
            </div>
            <div class="white-bg" flex layout="row" layout-align="center center" style="padding: 50px 0;">
                <a href="#contact" style="padding: 20px;">
                    <i class="gold2-fg material-icons">keyboard_arrow_down</i>
                </a>
            </div>

            <!-- ******************************************** -->
            <!--                  CONTACT                     -->
            <!-- ******************************************** -->
            <div id="contact" class="white-bg black2-fg" flex layout="row" layout-align="center center">
                <div flex="70" flex-offset="15">
                    <p>Maecenas penatibus. Possimus class fringilla semper, placerat doloremque pede quidem, excepturi! Lectus varius orci nostra morbi, neque. Officia. Quisque esse, dignissimos. Natoque enim fuga facilis nam senectus orci imperdiet metus erat dicta anim.</p>
                    <p>Egestas turpis labore! Venenatis ex molestias quod facilis! Tempus est! Saepe at proin quis augue diamlorem felis erat molestias purus expedita qui ut minima, wisi. Magnis ligula, consequatur! Malesuada voluptate! Tristique sem mollit illo mollis porta maecenas, eaque litora maiores vero nemo! Repellendus tempor eleifend. Facilis, voluptatem mauris, anim laboriosam arcu, consequatur assumenda sit ut laboris voluptatibus, cillum?</p>

                    <p style="font-weight: 700;">Need a fixed price? Drop us a line:</p>
                </div>
                <div flex="15" layout="row"></div>
            </div>
            <div class="white-bg" flex layout="row" layout-align="center center">
                <form name="userForm" flex="70">
                    <div layout="column">
                        <md-input-container>
                            <label>Name*</label>
                            <input ng-model="user.name">
                        </md-input-container>
                        <md-input-container>
                            <label>Email*</label>
                            <input ng-model="user.email">
                        </md-input-container>
                        <md-input-container>
                            <label>Describe your needs ...</label>
                            <input ng-model="user.email">
                        </md-input-container>
                    </div>
                </form>
            </div>

            <!-- ******************************************** -->
            <!--                    MAP                       -->
            <!-- ******************************************** -->
            <div class="gold2-fg" flex layout="row">
                <div flex="100" layout="row" layout-align="center start" style="height: 430px; background-image: url('images/map.png'); background-repeat: no-repeat;">
                </div>
            </div>

            <!-- ******************************************** -->
            <!--                 FOOTER                       -->
            <!-- ******************************************** -->
            <div class="white-fg black-bg" flex layout="row" layout-align="center start" style="padding: 100px 0;">
                <div flex="20" layout="row" flex-offset="5">
                    <div>
                        <p>1400 - 1125 Howe Street</p>
                        <p>Vancouver, BC Canada V6Z 2K8</p>
                        <p>Phone: 604 559 6201</p>
                    </div>
                </div>
                <div flex="5"></div>
                <div flex="20" layout="row">
                    <div>
                        <p><b>John L. Rogers</b>, Senior Lawyer</p>
                        <p>Cell: 604 209 6451</p>
                        <p>Email: <a href="#">john@likewise.law</a></p>
                    </div>
                </div>
                <div flex="5"></div>
                <div flex="20" layout="row">
                    <div>
                        <p><b>Tonia Amaral</b>, Assistant</p>
                        <p>Direct: 604 559 6201</p>
                        <p>Email: <a href="#">tonia@likewise.law</a></p>
                    </div>
                </div>
            </div>

            <div class="white-fg black-bg" flex layout="row" style="padding-bottom: 150px;">
                <div flex="100" layout="column" layout-align="start center">
                    <div style="padding-bottom: 20px;">
                        <img src="images/owls-logo.png"/>
                    </div>
                    <div>
                        <img src="images/banner-logo.png"/>
                    </div>
                    <div class="gold2-fg">
                        <h2>Franchise & Business Law</h2>
                    </div>
                </div>
            </div>
            <div class="gray2-fg black-bg" flex layout="row">
                <div flex="100" layout="row" layout-align="end center">
                    <div style="padding: 0 25px 10px 0;">*Denotes Law Corporation</div>
                </div>
            </div>
        </div>

        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/angular-animate/angular-animate.min.js"></script>
        <script src="node_modules/angular-aria/angular-aria.min.js"></script>
        <script src="node_modules/angular-material/angular-material.min.js"></script>
        <script>
//            angular.module('likewiseApp', ['ngMaterial'])
//                    .run(function(){
//
//                    });
            angular.module('likewiseApp',['ngMaterial']);
        </script>
    </body>
</html>
